<div class="static-slider1 py-4">
  <div class="container">
      <!-- Row  -->
      <div class="row">
          <!-- Column -->
          <div class="col-md-7 align-self-center">
              <h1 class="title">Eu sou Miyuki Tomita, Esteticista, Maquiadora e Artesã e sou boa em:  <span class="text-success-gradiant typewrite" data-period="2000" data-type='[ "Estética", "Maquiagem", "Artesanato", "Cuidar de você!" ]'></span></h1>
              <a class="btn btn-success-gradiant btn-md btn-arrow mt-3 text-white border-0" href=""><span>Saber Mais!</span></a>
          </div>
          <!-- Column -->
          <div class="col-md-5 mt-4">
              <img src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/sliders/static-slider/slider1/img1.png" alt="wrapkit" class="img-fluid"/>
          </div>
      </div>
  </div>
</div>
