@import url(//fonts.googleapis.com/css?family=Montserrat:300,500,600,700,800);
.static-slider1 {
  font-family: "Montserrat", sans-serif;
	color: #8d97ad;
  font-weight: 300;
  margin-top: 5%;
}

.static-slider1 h1, .static-slider1 h2, .static-slider1 h3, .static-slider1 h4, .static-slider1 h5, .static-slider1 h6 {
  color: #3e4555;
}

.static-slider1 .title{
		font-weight: 700;
    line-height: 56px;
		font-size: 36px;
}

.static-slider1 .title span{
		border-bottom: 3px solid #2cdd9b;
}

@media (max-width:767px) {
	.static-slider1 .title{
			font-weight: 700;
			line-height: 36px;
			font-size: 24px;
	}
}

.static-slider1 .btn-success-gradiant {
		background: #2cdd9b;
    background: -webkit-linear-gradient(legacy-direction(to right), #2cdd9b 0%, #1dc8cc 100%);
    background: -webkit-gradient(linear, left top, right top, from(#2cdd9b), to(#1dc8cc));
    background: -webkit-linear-gradient(left, #2cdd9b 0%, #1dc8cc 100%);
    background: -o-linear-gradient(left, #2cdd9b 0%, #1dc8cc 100%);
    background: linear-gradient(to right, #2cdd9b 0%, #1dc8cc 100%);
}

.static-slider1 .btn-success-gradiant:hover {
		background: #1dc8cc;
    background: -webkit-linear-gradient(legacy-direction(to right), #1dc8cc 0%, #2cdd9b 100%);
    background: -webkit-gradient(linear, left top, right top, from(#1dc8cc), to(#2cdd9b));
    background: -webkit-linear-gradient(left, #1dc8cc 0%, #2cdd9b 100%);
    background: -o-linear-gradient(left, #1dc8cc 0%, #2cdd9b 100%);
    background: linear-gradient(to right, #1dc8cc 0%, #2cdd9b 100%);
}

.static-slider1 .btn-md {
    padding: 15px 45px;
    font-size: 16px;
}

.static-slider1 .text-success-gradiant {
		background: #2cdd9b;
    background: -webkit-linear-gradient(legacy-direction(to right), #2cdd9b 0%, #1dc8cc 100%);
    background: -webkit-gradient(linear, left top, right top, from(#2cdd9b), to(#1dc8cc));
    background: -webkit-linear-gradient(left, #2cdd9b 0%, #1dc8cc 100%);
    background: -o-linear-gradient(left, #2cdd9b 0%, #1dc8cc 100%);
    background: linear-gradient(to right, #2cdd9b 0%, #1dc8cc 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
}


body {
  font-family: 'Montserrat', sans-serif;
}
.section-title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
  position: relative;
  display: inline-block;
  padding-bottom: 1.5rem;
	color: #3e4555;
}
.section-subtitle {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}
.img-wrapper {
  position: relative;
  margin-top: 20px;
}
.img-overlay {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #ff7f50;
  padding: 10px;
  border-radius: 5px;
}
.service-tag {
  display: inline-block;
  background-color: #007bff;
  color: white;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 0.9rem;
  margin-bottom: 1rem;
}
.section-title::before,
.section-title::after {
    content: '';
    display: block;
    width: 30%;
    height: 2px;
    background-color: #a18a04d7;
    position: absolute;
    bottom: 0;
  }
  .section-title::before {
      left: 0;
  }
  .section-title::after {
      right: 0;
  }
.icon-wrapper {
  display: inline-block;
  color: #a18a04d7;
  padding: 0.3rem;
  border-radius: 50%;
  font-size: 0.8rem;
  position: absolute;
  bottom: -0.4rem;
  left: 50%;
  transform: translateX(-50%);
}

.section-bg {
  background-color: #ffe6e6; /* Cor de fundo rosa claro */
  padding: 2rem 0;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3), 0 -4px 8px rgba(0, 0, 0, 0.3); /* Sombreamento superior e inferior */
}

