<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">


<section class="static-slider1 py-4 banner">
  <div class="container">
      <!-- Row  -->
      <div class="row">
          <!-- Column -->
          <div class="col-md-7 align-self-center">
              <h1 class="title">Eu sou Miyuki Tomita, Esteticista, Maquiadora e Artesã e sou boa em:  <span class="text-success-gradiant typewrite" data-period="2000" data-type='[ "Estética", "Maquiagem", "Artesanato", "Cuidar de você!" ]'></span></h1>
              <a class="btn btn-success-gradiant btn-md btn-arrow mt-3 text-white border-0" href=""><span>Saber Mais!</span></a>
          </div>
          <!-- Column -->
          <div class="col-md-5 mt-4">
              <img src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/sliders/static-slider/slider1/img1.png" alt="wrapkit" class="img-fluid"/>
          </div>
      </div>
  </div>
</section>
<section class="text-center my-5 section-bg">
  <div class="container">
    <br />
    <h1 class="section-title">Sobre Nós
      <span class="icon-wrapper">
        <i class="fa-solid fa-heart"></i>
      </span>
    </h1>
    <br />
    <div class="row">
        <div class="col-md-6 text-left equal-height">
            <br />
            <h2 class="section-subtitle">Thousands of Great inbuild Elements to make your life easier</h2>
            <p>You can rely on our amazing features list and also our customer services will be a great experience for you without doubt and in no time and with great quality for design.</p>
            <p>We guarantee you with our WrapKit that you will make your site in record time and it will be fun to work on.</p>
        </div>
        <div class="col-md-6">
            <div class="img-wrapper mt-4">
                <img src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/features/feature26/img1.jpg" class="img-fluid" alt="Example Image">
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-6">
            <img src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/features/feature26/img1.jpg" class="img-fluid" alt="Example Image">
        </div>
        <div class="col-md-6 text-left equal-height">
            <h2 class="section-subtitle">Get the best designed elements to make your site look modern</h2>
            <p>You can rely on our amazing features list and also our customer services will be a great experience for you without doubt and in no time and with great quality for design.</p>
            <p>We guarantee you with our WrapKit that you will make your site in record time and it will be fun to work on.</p>
        </div>
    </div>
  </div>
</section>
